// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


.bg-blue {
    background-color: blue;
}
.bg-indigo {
    background-color : indigo;
}
.bg-purple {
    background-color : purple;
}
.bg-pink {
    background-color : pink;
}
.bg-red {
    background-color : rgba(255, 0, 0, 0.746);
}
.bg-orange {
    background-color : orange;
}
.bg-yellow {
    background-color : yellow;
}
.bg-green {
    background-color : green;
}
.bg-teal {
    background-color : teal;
}
.bg-blue1 {
    background-color : #17a2b8;
}

.blue {
    color : blue;
}
.indigo {
    color : indigo;
}
.purple {
    color : purple;
}
.pink {
    color : pink;
}
.red {
    color : rgba(255, 0, 0, 0.746);
}
.orange {
    color : orange;
}
.yellow {
    color : yellow;
}
.green {
    color : green;
}
.teal {
    color : teal;
}
.cyan {
    color : cyan;
}





